<h1 mat-dialog-title>Add New Employee Details </h1>
<div mat-dialog-content>
  <!-- Form for adding employee -->
  <form [formGroup]="add_employee_form">
    <div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Department</mat-label>
          <input matInput formControlName="department" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Blood Group</mat-label>
          <input matInput formControlName="bloodgroup" />
        </mat-form-field>
        <div>
          <table>
            <tbody>
              <tr formArrayName="address_array" *ngFor="let address of address_array?.controls; index as i">
                <td style="width: 85%;">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Address{{i+1}}</mat-label>
                    <input matInput [formControl]="address.get('address')" />
                    <mat-error *ngIf="address.get('address').hasError('required')"> * Address is required
                    </mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <button mat-icon-button color="primary" class="mb-3" (click)="newAddress()" matTooltip="New Address">
                    <mat-icon style="font-weight: bold; font-size: 30px; width: 30px">add</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" class="mb-3" (click)="deleteAddress(i)" *ngIf="i !== 0">
                    <mat-icon style="font-size: 30px; width: 30px">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <table>
            <tbody>
              <tr formArrayName="number_array" *ngFor="let number of number_array?.controls; index as i">
                <td style="width: 80%;">
                  <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>Number{{i+1}}</mat-label>
                    <input matInput [formControl]="number.get('number')" />
                    <mat-error *ngIf="number.get('number').hasError('required')"> * Number required
                    </mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <button mat-icon-button color="primary" class="mb-3" (click)="newNumber()" matTooltip="New Number">
                    <mat-icon style="font-weight: bold; font-size: 30px; width: 30px">add</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" class="mb-3" (click)="deleteNumber(i)" *ngIf="i !== 0">
                    <mat-icon style="font-size: 30px; width: 30px">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="text-align: end;">
        <button type="button" mat-stroked-button color="warn" [mat-dialog-close]="true">
          Close
        </button>
        <button type="submit" mat-stroked-button color="primary" [mat-dialog-close]="true"
          (click)="onAddEmployeeSubmit()" style="margin-left: 0.5rem;">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>